#CodeStyle[data-v-904494f6]{text-align:left;background-color:#2f2f35;font-family:Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,微软雅黑,Arial,sans-serif;font-size:13px;line-height:22px;color:violet;overflow-x:auto;min-height:20rem}#codeTime[data-v-904494f6]{text-align:left;margin:10px 0}#subButton[data-v-595946fe]{width:100%}
/*    !* margin-top: 1.5rem; *!*/
/*    !* margin-left: 1.5rem; *!*/.DataMapGridContent[data-v-595946fe]{border-radius:4px;min-height:36px}
/*    !*margin-left: 20%;*!*/.shadow[data-v-7af48c29]{box-shadow:0 10px 10px #ccc}